<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{TIME_YEAR}%{TIME_MON}%{TIME_DAY}%{TIME_HOUR}%{TIME_MIN} "<202503311500"
RewriteCond %{REMOTE_ADDR} !=160.86.232.2
RewriteRule ^.*$ - [R=404,L]
</IfModule>

#<Files ~ "^\.(htaccess|htpasswd)$">
#deny from all
#</Files>
#AuthUserFile /var/www/superniche.jp/public/.htpasswd
#AuthName "Please enter your ID and password"
#AuthType Basic
#require valid-user 
#order deny,allow

